<h1>{{title}}</h1>
<CENTER>
  <form action="/login" method="post" >
    EMPLOYEE NAME <input type="text" name="loginuname"><br>
    PASSWORD   <input type="text" name="loginpword"><br>
    <button type="submit">Login</button><BR>
   </form>
</CENTER>
